extends layout

block content
  h1 Lista de Clientes
  .clients-container
    each client in clients
      .client-card
        h2= client.name
        p Email: #{client.email}
        if client.points
          p Puntos: #{client.points}
        button(onclick=`editClient('${client.email}')`) Editar
        button(onclick=`deleteClient('${client.email}')`) Eliminar
        hr
